.card{
    width: 264px;
height: 500px;
left: 544px;
top: 1021px;
    padding-left: 20px;
background: #FFFFFF;
border: 4px solid #0afe53;
}
.card__img{
    width: 172px;
    height: 148px;
    padding-top: 44px;
    padding-left: 24px;
}
.card>h3{
    font-weight: 500;
    
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #1D1D1D;

}
.card>p{
    font-weight: 700;
font-size: 28px;
line-height: 35px;
display: block;
align-items: center;
margin-top: 12px;
color: #1D1D1D;
}
.card>p>span{
    
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: block;
    align-items: center;

    /* gray */

    color: #A5A5A5;
}
.text>p{
    font-weight: 500;
font-size: 17px;
line-height: 15px;
color: #A5A5A5;
 
}
.knock{
    display: flex;
    justify-content: space-between;
}
.btns{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #C53720;
    padding: 12px;
    border-color: #fe0a0a;
}
.cor{
    background-color: #C53720;
    
}
.bot{
    font-weight: 700;
font-size: 14px;
line-height: 18px;
display: block;
align-items: center;
text-align: center;

/* red2 */

color: #C53720;

}
.co{
    
}